<img src="/13-Eat-da-burger/assets/download.jpg" alt="Eat-Da-Burger-logo">

<h1>Eat Da Burger!</h1>
<br>

<class class="row">
    <div class="col-md-6">
        <h2>Choose a burger you would like to order or create your own burger.</h2>
    </div>
    <ul>
        {{#each burger_name}}
        {{#if devoured}}
        {{this burger_name}}
        {{burger_value = false }}
    </ul>
    </div>

    <div class="=col-md-6">
        <h2>DEVOUR Burger</h2>
        <ul>
            {{#each burger_name}}
            {{#unless devoured}}
            {{burgers_value = true}}
            {{if}}
            {{each}}
        </ul>
    </div>
    <h2>Add Your own Burger</h2>
    <form class="create form">